<nav class="sidebar-nav">
    <ul>
        {{- $currentPage := . }}
        {{- range site.Menus.main }}
        {{- $menu_item_url := (cond (strings.HasSuffix .URL "/") .URL (printf "%s/" .URL)) | absLangURL }}
        {{- $page_url := $currentPage.Permalink | absLangURL }}
        <li>
            <a href="{{ .URL | absLangURL }}" title="{{ .Title | default .Name }}"
                {{- if eq $menu_item_url $page_url }} class="active"{{- end }}>
                {{- .Pre }}{{ .Name }}{{ .Post -}}
            </a>
        </li>
        {{- end }}
    </ul>
</nav>
